<section>
  <h1>All plots</h1>
  <% @plots.each do|plot| %>
    <ol>
      <%= plot.number %>
      <section id="<%= plot.number %>-plants">
        <% plot.plants.each do |plant| %>
          <p>
            <%= plant.name %>
            <%= button_to "remove #{plant.name} from plot", "/plots/#{plot.id}/plants/#{plant.id}", method: :delete %>
          </p>
        <% end %>
      </section>
    </ol>
  <% end %>
</section>
